.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-title {
  font-family: "Albert Sans", sans-serif;
  text-align: center;
}

.randomise-container {
  display: flex;
  justify-content: center;
}

.randomise-button {
  padding: 5px;
  width: 140px;
  height: 40px;
  border-radius: 2px;
  border: none;
  background-color: #e7e8d1;
  font-size: 20px;
  /* color: white; */
}

/* Desktop width 1200px */
@media screen and (min-width: 1025px) {
}

/* Laptop width 1024px */
@media screen and (max-width: 1024px) {
  .app-logo {
    width: 60%;
    height: auto;
    align-self: center;
  }
}

/* Ipad width 768px */
@media screen and (max-width: 768px) {
}

/* Moile Phone Screens Pixel 411px */
@media screen and (max-width: 480px) {
  /* .app-container {
    padding: 20px;
  } */

  .app-logo {
    width: 100%;
    height: auto;
  }
}
