.list-item-container {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  margin: 10px;
  padding: 3px 10px;

  background-color: #e7e8d1;
}

.list-name {
  margin-right: auto;
  align-self: center;
}

.delete-list-item {
  align-self: center;
}
