/* Colour Codes Hex codes: Scarlet #B85042, Light Olive #E7E8D1, Light Teal #A7BEAE, Russian Violet #441151 */
/* Space Cadet #222E50*/
body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a7beae;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border: none;
  background-color: #b85042;
  font-size: 16px;
  color: white;
}

/* Desktop width 1200px */
@media screen and (min-width: 1025px) {
  .app-container {
    width: 800px;
    margin: auto;
  }
}

/* Laptop width 1024px */
@media screen and (max-width: 1024px) {
  .app-container {
    padding: 30px 120px;
  }
}

/* Ipad width 768px */
@media screen and (max-width: 768px) {
  .app-container {
    padding: 30px 100px;
  }
}

/* Moile Phone Screens Pixel 411px */
@media screen and (max-width: 480px) {
  .app-container {
    padding: 20px;
  }
}
